{% extends '@layout/default.html.twig' %}

{% block title %}Amazium : Link Gitlab User{% endblock %}

{% block content %}
    <h1>GITLAB User Linked</h1>
    {{ dump(gitlab_user_data) }}
{% endblock %}
